<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Lista de clientes</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Risco</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes | async">
            <td>{{cliente.id}}</td>
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.tipo}}</td>
            <td><button (click)="deleteCliente(cliente.id)" class="btn btn-danger">Delete</button>
                <button (click)="updateCliente(cliente.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
                <button (click)="clienteDetails(cliente.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Do you want to confirm?</p>
    <button type="button" class="btn btn-default" >Yes</button>
    <button type="button" class="btn btn-primary" >No</button>
  </div>
</ng-template>

